[run]
relative_files = True
branch = True
source =
    src
    sources

[paths]
src =
    src
    /home/runner/work/motorsport-calendar/motorsport-calendar/src
    **/motorsport-calendar/src
sources =
    sources
    /home/runner/work/motorsport-calendar/motorsport-calendar/sources
    **/motorsport-calendar/sources

[report]
show_missing = True
skip_covered = True
precision = 2
omit =
    tests/*
    */__init__.py
exclude_lines =
    if __name__ == .__main__.
    pragma: no cover

[xml]
output = coverage.xml
